*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    padding: 2rem;
}

ul, li {
    list-style: none;
}

header{
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}
header h1 {
    margin-bottom: 1rem;
}

header ul{
    display: flex;
    gap: 3rem;
}
main > h2 {
    margin-bottom: 1rem;
}

.book{
    border: 1px solid #ccc ;
    width: 30rem;
    padding:1rem ;
    border-radius: 1rem;
}

.book + .book{
    margin: top 1rem; 
    
}
.buttons{
    display: flex;
    margin-top: 0,5rem;
    gap: 1rem;
}
.buttons a, 
.buttons button{
    display: block;
    text-decoration: none;
    padding: 5rem;
    border-radius: 5rem;
    font-size: 1rem;
}

.buttons .mais{
    border: 1px solid #007bff;
    background: #007bff;
    color: white;
    
}
.buttons .mais:hover{
     background: white;
     color: #007bff;
}
.buttons .editar{
    border: 1px solid #ffc107;
    background: #ffc107;
    color: black;
    
}
.buttons .editar:hover{
    background: white;
    color: #ffc107;
    
}

.buttons .excluir{
    border: 1px solid #dc3545;
    background:#dc3545;
    color: white;
    
}
.buttons .excluir:hover{
    background: white;
    color: #dc3545;
    cursor: pointer;
}